* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app__header {
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: sticky;
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.app__sign__upload {
  padding: 10px;
}

.app__post {
  margin-top: 10px;
  padding: 20px;
  display: flex;
}

.app__postLeft {
  width: 500px;
}

.app__loginContainer {
  display: flex;
}

.app__postRight {
  margin: 20px;
}

.app__post__bottom {
  margin-bottom: 140px;
}

.app__headerImage {
  width: 50px;
  object-fit: contain;
}

.app_signup {
  display: flex;
  flex-direction: column;
}
