.post__image {
  width: 100%;
  object-fit: contain;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  max-height: 300px;
  min-height: 300px;
}

.post {
  max-width: 350px;
  background-color: white;
  border: 1px solid lightgray;
  margin-bottom: 20px;
  object-fit: contain;
}

.post__comments {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  text-overflow: "....";
}

.post__commentbox {
  display: flex;
  margin-top: 5px;
  border-top: 1px solid lightgray;
}

.post__input {
  flex: 1;
  border: none !important;
  padding: 10px;
}

.post__button {
  flex: 0;
}

.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 15px;
}

.post__avatar {
  margin-right: 10px;
}
